.mainLayout {
  display: flex;
  min-height: 100vh;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.right {
  flex: 0 0 60%;
}

@media (max-width: 768px) {
  .right {
    display: none;
  }

  .mainLayout {
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
}